<% card_class = answer.accepted? ? "card border-primary mt-5" : "card mt-5" %>

<div class='py-2 border-bottom border-danger' id='answer_<%= answer.id %>'>
  <div class="<%= card_class %>">
    <div class="card-body d-flex justify-content-between">
      <div class="card-text ml-2"><%= markdown(answer.body).html_safe %></div>
      <div class="d-inline-flex justify-content-between align-items-end flex-column align-center">
        <% if current_user && (current_user.id == answer.user_id) %>
          <div class='d-flex'>
            <%= link_to '<i class="fas fa-pen p-1"></i>'.html_safe, edit_question_answer_path(answer.question, answer) %>
            <%= link_to '<i class="fas fa-trash text-danger p-1"></i>'.html_safe, question_answer_path(answer.question, answer), method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        <% else %>
          <br>
        <% end %>
        <%= render 'user', object: answer %>
      </div>
    </div>
    <div class="card-footer d-flex align-items-center">
      <% if logged_in? && current_user.id == answer.question.user_id %>
        <% if answer.accepted? %>
          <%= link_to '<i class="fas fa-check-circle text-success mr-3" style="font-size:3rem"></i>'.html_safe,
                      question_answer_path(answer.question, answer.question.accepted_answer, {:question_accepted_id => nil}),
                      method: :patch %>
        <% elsif !answer.question.has_accepted_answer? %>
          <%= link_to '<i class="fas fa-check-circle text-grey-dark mr-2"></i>'.html_safe,
                      question_answer_path(answer.question, answer, {:question_accepted_id => answer.question.id}),
                      method: :patch %>
        <% end %>
      <% elsif answer.accepted? %>
        <i class="fas fa-check-circle text-success mr-3" style="font-size:3rem"></i>
      <% end %>
      <%= render 'votes', answer: answer %>
    </div>
  </div>
</div>