<% @vote = Vote.where('user_id=?', current_user.id).where('answer_id=?', answer.id)[0] if current_user %>

<% if logged_in? && @vote.nil? %>
  <div class='badge badge-secondary d-flex flex-column justify-content-center align-items-center'>
    <%= link_to '<i class="fas fa-sort-up text-light"></i>'.html_safe, question_answer_votes_path(answer.question, answer, {vote: {value: 1, user_id: current_user, answer_id: answer.id}}), method: :answer %>
    <span class='text-light'><%= answer.score %></span>
    <%= link_to '<i class="fas fa-sort-down text-light"></i>'.html_safe, question_answer_votes_path(answer.question, answer, {vote: {value: -1, user_id: current_user, answer_id: answer.id}}), method: :answer %>
  </div>
<% elsif logged_in? && @vote.value == 1 %>
  <div class='badge badge-success d-flex flex-column justify-content-center align-items-center'>
    <i class="fas fa-sort-up text-success"></i>
    <span class='text-light'><%= answer.score %></span>
    <%= link_to '<i class="fas fa-sort-down text-light"></i>'.html_safe, question_answer_vote_path(answer.question, answer, @vote), method: :delete %>
  </div>
<% elsif logged_in? && @vote.value == -1 %>
  <div class='badge badge-danger d-flex flex-column justify-content-center align-items-center'>
    <%= link_to '<i class="fas fa-sort-up text-light"></i>'.html_safe, question_answer_vote_path(answer.question, answer, @vote), method: :delete %>
    <span class='text-light'><%= answer.score %></span>
    <i class="fas fa-sort-down text-danger"></i>
  </div>
<% else %>
  <div class='badge badge-secondary d-flex flex-column justify-content-center align-items-center'>
    <span class='badge text-light'><%= answer.score %></span>
  </div>
<% end %>

