<nav class="d-flex flex-column justify-content-center justify-content-sm-between align-items-center flex-sm-row navbar fixed-top navbar-dark bg-dark">
  <div class='d-flex flex-row justify-content-center align-items-center'>
    <div class='d-flex flex-row justify-content-center align-items-center'>
      <%= link_to 'LIF', session[:return_to] || root_path, :class => 'h2 py-0 my-0 px-0 mx-0 text-danger font-weight-bold' %>
      <%= image_tag('favicon.png', :size => '30') %>
    </div>
    <%= link_to 'API', api_path, :class => 'text-danger mx-5 h6 d-none d-sm-block' %>
    <%= form_with(url: questions_path, method: :get, local: true, :html => {:class => "form-inline my-2 my-sm-0 d-none d-sm-block"}) do |form| %>
      <%= form.text_field :search, :class => 'form-control mr-sm-2', :placeholder => 'Search' %>
      <%= submit_tag 'Search', :class => "btn btn-primary my-2 my-sm-0" %>
    <% end %>
  </div>
  <div id='login'>
    <%= render 'login' %>
  </div>
</nav>