<% @user = object.user %>

<div class="border bg-light d-flex justify-content-around align-items-start mt-4 py-2 px-1 mb-1 ">
  <% if @user.avatar.attached? %>
    <%= image_tag(@user.avatar, width: "40", class: "mr-2 py-1 px-1 ") %>
  <% end %>
  <div class='d-flex flex-column justify-content-end'>
    <%= link_to '@' + @user.username, @user, :class => '' %>
    <small>Last updated
      <% if (Time.now - object.created_at).to_i < 60 %>
        <%= (Time.now - object.created_at).to_i %> sec. ago
      <% elsif (Time.now - object.created_at).to_i < 3600 %>
        <%= (Time.now - object.created_at).to_i / 60 %> min. ago
      <% elsif (Time.now - object.created_at).to_i < (3600 * 48) %>
        <%= (Time.now - object.created_at).to_i / 3600 %> hr. ago
      <% else %>
        <%= (Time.now - object.created_at).to_i / (3600 * 24) %> days ago
      <% end %>
    </small>
  </div>
</div>